@model Common.ViewModel.Topic.TopicVM

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TopicVM</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2" hidden="hidden">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class="col-sm-10" hidden="hidden">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PicSrc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PicSrc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HasChilde)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HasChilde)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class="col-sm-2">
            سرفصل
        </dt>

        @if (Model.ParrentID != 0)
        {
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Parrent.Title)
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                بدون سرشاخه
            </dd>
        }

    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
